<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/submitDiscuss" method="post" enctype="multipart/form-data">
	    学生ID:<input type="text" name="s_ID">
	    试题ID:<input type="text" name="test_ID">
	    试题类型:<input type="text" name="test_type">
	    <input type="file" name="img">
	    <input type="submit" value="sub">
	</form>
</body>
</html>